.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 70%;
}
.tabs-wrapper{
   width: 100%;
   display: flex;
   gap: 1rem;
   border: 2px solid blue;
}